/**
 * Colors used across the website
 * ------------------------------
 * [1]
 * First let's name them as they should, using appropriate tool :
 * http://www.color-blindness.com/color-name-hue/
 * If two colors get the same name, use the built-in Sass functions :
 * darken($color-name, xx%)
 * lighten($color-name, xx%)
 *
 * [2]
 * Then, assign colors to their exact role, to allow easy updates
 * Do not hesitate to abuse of assignments, this is really healthy!
 */


/* ====== [1] NAMES ====== */
$white: #ffffff;                // white
$lightgrey: #d4d4d4;            // light grey
$whitesmoke: #ececec;           // super light grey
$charcoal: #3e3e3e;             // dark grey
$goldentainoi: #fec554;         // yellow
$atomictangerine: #ff8e66;      // orange
$sundown: #f7afa4;              // peach
$amaranth: #e64259;             // red
$bostonblue: #3aa2ad;           // turquoise
$viking: #4bc1c6;               // light turquoise
$seagull: #88b3d3;              // blue
$frenchpass: #a6c6e2;           // light blue



/* ====== [2] ASSIGNMENTS ====== */