<nav class="bubble-selector">
    <ul>
        <li><a href="{{ site.baseurl }}{% link _pages/material/index.html %}">Toutes</a></li>
        <li><a href="{{ site.baseurl }}{% link _pages/material/communication.html %}">Communication</a></li>
        <li><a href="{{ site.baseurl }}{% link _pages/material/developpement-personnel.html %}">Développement personnel</a></li>
        <li><a href="{{ site.baseurl }}{% link _pages/material/innovation.html %}">Innovation</a></li>
        <li><a href="{{ site.baseurl }}{% link _pages/material/management.html %}">Management</a></li>
        <li><a href="{{ site.baseurl }}{% link _pages/material/negociation.html %}">Négociation</a></li>
        <li><a href="{{ site.baseurl }}{% link _pages/material/strategie.html %}">Stratégie</a></li>
    </ul>
</nav>