<nav class="bubble-selector">
    <ul>
        <li><a href="{{ site.baseurl }}{% link _pages/expertise/index.html %}">Toutes</a></li>
        <li><a href="{{ site.baseurl }}{% link _pages/expertise/leadership-management.html %}">Leadership &amp; Management</a></li>
        <li><a href="{{ site.baseurl }}{% link _pages/expertise/negociation.html %}">Négociation</a></li>
        <li><a href="{{ site.baseurl }}{% link _pages/expertise/teambuilding.html %}">Team Building</a></li>
        <li><a href="{{ site.baseurl }}{% link _pages/expertise/creativite.html %}">Créativité</a></li>
    </ul>
</nav>