<section id="whole">
    <h2>EXPERTISE</h2>
    <div class="content-text">
        <p class="intro">Le tout est plus que la somme de ses parties. Être expert sur différents sujets n’est pas suffisant. Chez SEVEN, nous croyons que chaque aspect de la relation enseignant-apprenant doit impliquer trois éléments clés&nbsp;: la cohérence entre les contenus que nous enseignons et la façon dont ils sont enseignés&nbsp;; la prévenance et la volonté des enseignants pour gagner l’attention des apprenants&nbsp;; les leviers induits par la dynamique de groupe pour créer une compréhension partagée.</p>
    </div>
</section>