<section id="knowledge">
    <h2>CONTENU</h2>
    <div class="content-text">
        <p class="intro">Nous sommes convaincus que l’étape la plus passionnante dans le processus d’apprentissage est le moment exact où vous pouvez ressentir les liens conceptuels profonds entre les sujets et entre les auteurs. Dans cette mesure, nous concevons et alimentons soigneusement notre propre galerie de contenus. Nous voulons faire de cette collection un ensemble cohérent, connecté et évolutif de ressources.</p>
    </div>
</section>